{% extends "base.html" %} {% block title %}About us{% endblock %} {% block
content %}
<title>Welcome to NUTRIGUESS</title>
<style>
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f2f2f2;
  }

  p {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }

  h1 {
    font-size: 24px;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
</style>

<div class="container">
  <h1>Welcome to NUTRIGUESS</h1>
  <p>
    You will be presented with a mystery food and you have unlimited tries to
    guess what the food is. To make a guess, type your answer into the search
    bar and select it from the dropdown menu of foods. If your guess matches the
    mystery food, you win the game. If your guess does not match the mystery
    food, we will provide you with hints in the form of a table of nutrition
    facts for the selected food.
  </p>
  <p>
    Welcome to Nutriguess, a wordle-type game that aims to educate people on
    making better nutritional choices by testing their knowledge on nutrition
    facts. Our game is designed to be fun and engaging, while also providing
    valuable information about the nutritional content of various foods.
  </p>
  <p>
    Our team of nutrition experts has carefully researched and curated a list of
    foods and their nutritional facts to ensure that the game is both accurate
    and informative. We believe that by making nutrition education fun and
    interactive, we can help people make better food choices and improve their
    overall health and well-being.
  </p>
  <p>
    At NutriGuess, we are committed to promoting healthy eating habits and
    providing valuable nutrition education to everyone. Whether you are a health
    enthusiast or just looking to learn more about nutrition, we hope that our
    game will be both entertaining and educational.
  </p>
</div>
{% endblock %}
